@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');

@media screen and (min-width: 1601px) and (max-width: 2560px) {
    /* Рисунки */
    .zavitushka2 {
        position: absolute;
        user-select: none;
        margin-top: 125%;
        padding-left: 85%;
        width: 100%;
        max-width: 385px;
        height: 715px;
    }

    .zavitushka4 {
        user-select: none;
        position: absolute;
        margin-top: 215%;
        margin-left: 40%;
    }

    /* По программе */

    .circle_frames_mobile {
        display: none;
    }

    .caption {
        position: absolute;
        margin-top: 131%;
        padding-left: 41.5%;

        font-size: 48px;
        font-family: "Fira Sans Extra Condensed";
        font-weight: 300;
    }

    .firstryad {
        display: flex;
        margin-top: 137%;
        position: absolute;
        width: 100%;
    }

    .circle_frame1,
    .circle_frame2,
    .circle_frame3 {
        position: absolute;
        display: inline-block;
        width: 100%;
        max-width: 422px;
        height: 566px;
        border-radius: 50px;
        border: 2px solid #0000001A;
        margin-left: 40px;
    }

    .circle_frame1 {
        position: absolute;
    }
    .circle_frame2 {
        margin-left: 39%;
    }
    .circle_frame3 {
        margin-left: 76%;
    }
    .perviyrisunok, .vtoroyrisunok, .tretiyrisunok {
        padding-top: 4%;
        margin-left: 5%;
    }

    .text_caption {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        padding-top: 2%;
        text-align: center;
    }

    .text_creation {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        margin-top: 5%;
        text-align: center;
    }

    .schedule {
        user-select: none;
        position: absolute;
        cursor: pointer;

        font-family: Roboto;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;

        margin-top: 5%;
        margin-left: 33%;
        cursor: pointer;

        width: 149px;
        height: 51px;
        border-radius: 50px;
        border: 1px solid #000000;
    }
    /* При наведении и нажатии*/
    .schedule:hover {
        background-color: #FFF06D;
    }
    .schedule:active {
        background-color: #FFF06D;
    }

    .secondryad {
        display: flex;
        margin-top: 175%;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .circle_frame4,
    .circle_frame5,
    .circle_frame6 {
        position: absolute;
        display: inline-block;
        max-width: 422px;
        width: 100%;
        height: 566px;
        border-radius: 50px;
        border: 2px solid #0000001A;
        margin-left: 2%;
    }

    .circle_frame4 {
        position: absolute;
        z-index: 3;
    }
    .circle_frame5 {
        margin-left: 39%;
    }
    .circle_frame6 {
        margin-left: 76%;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    .circle_frames_mobile {
        display: none;
    }

    /* Рисунки */
    .ourProgramImage {
        position: absolute;
        margin-top: 150%;
        padding-left: 35%;
    }

    .zavitushka2 {
        position: absolute;
        margin-top: 145%;
        right: 0;
        width: 100%;
        max-width: 265px;
        height: 715px;
    }

    .zavitushka4 {
        position: absolute;
        margin-top: 255%;
        margin-left: 37%;
    }

    /* По программе */
    .firstryad {
        display: flex;
        margin-top: 157%;
        position: absolute;
        width: 100%;
    }

    .caption {
        position: absolute;
        margin-top: 150%;
        padding-left: 39%;

        font-size: 48px;
        font-family: "Fira Sans Extra Condensed";
        font-weight: 300;
    }

    .circle_frame1,
    .circle_frame2,
    .circle_frame3 {
        position: absolute;
        display: inline-block;
        width: 100%;
        max-width: 422px;
        height: 566px;
        border-radius: 50px;
        border: 2px solid #0000001A;
        margin-left: 2%;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .circle_frame1 {
        position: absolute;
    }
    .circle_frame2 {
        margin-left: 35%;
    }
    .circle_frame3 {
        margin-left: 68%;
    }
    .perviyrisunok, .vtoroyrisunok, .tretiyrisunok {
        padding-top: 4%;
        margin-left: 5%;
    }

    .text_caption {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        padding-top: 2%;
        text-align: center;
    }

    .text_creation {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        margin-top: 5%;
        text-align: center;
    }

    .schedule {
        user-select: none;
        position: absolute;
        cursor: pointer;

        font-family: Roboto;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;

        margin-top: 5%;
        margin-left: 33%;
        cursor: pointer;

        width: 149px;
        height: 51px;
        border-radius: 50px;
        border: 1px solid #000000;
    }
    /* При наведении и нажатии*/
    .schedule:hover {
        background-color: #FFF06D;
    }
    .schedule:active {
        background-color: #FFF06D;
    }

    .secondryad {
        display: flex;
        margin-top: 202%;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .circle_frame4,
    .circle_frame5,
    .circle_frame6 {
        position: absolute;
        display: inline-block;
        max-width: 422px;
        width: 100%;
        height: 566px;
        border-radius: 50px;
        border: 2px solid #0000001A;
        margin-left: 2%;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .circle_frame4 {
        position: absolute;
        z-index: 3;
    }
    .circle_frame5 {
        margin-left: 35%;
    }
    .circle_frame6 {
        margin-left: 68%;
    }

}

@media screen and (max-width: 450px) {

    /* Рисунки */
    .ourProgramImage {
        position: absolute;
        margin-top: 150%;
        padding-left: 35%;
    }

    .zavitushka2 {
        display: none;
    }

    .zavitushka4 {
        max-width: 200px;
        width: 100%;
        height: 50px;
        position: absolute;
        top: 310%;
        left: 30%;
        transform: translate(-20%, -20%);
    }

    /* По программе */

    .caption {
        position: absolute;
        top: 241%;
        transform: translate(-20%, -20%);
        text-align: center;
        left: 40%;
        font-size: 26px;
        font-family: "Fira Sans Extra Condensed";
        font-weight: 300;
    }

    .circle_frames {
        display: none;
    }

    .circle_frames_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        overflow: hidden;
        top: 274%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .circle_frame {
        width: 260px;
        height: 397px;
        border-radius: 30px;
        border: 2px solid #0000001A;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .risunok {
        margin-left: 3%;
        margin-top: 1%;
        width: 100%;
        max-width: 248px;
        height: 200px;
    }

    .text_caption {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin-top: 10px;

    }

    .text_creation {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin-top: 30px;
    }

    .carousel {
        display: flex;
        transition: transform 0.3s ease-in-out;
    }

    .modal_nav_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .modal_nav_button {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 20px;
    }

    .dot_indicator {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        margin: 0 5px;
        transition: background-color 0.3s ease-in-out;
    }

    .active_dot {
        background-color: #FFCC17;
    }

    .schedule {
        user-select: none;
        position: absolute;
        cursor: pointer;

        font-family: Roboto;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;

        margin-top: 17%;
        margin-left: 20%;
        cursor: pointer;

        width: 149px;
        height: 51px;
        border-radius: 50px;
        border: 1px solid #000000;
    }
    /* При наведении и нажатии*/
    .schedule:hover {
        background-color: #FFF06D;
    }
    .schedule:active {
        background-color: #FFF06D;
    }

}
