
@media screen and (min-width: 1601px) and (max-width: 2560px) {

    .modalContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 50px;
        padding: 20px;
        max-width: 1150px;
        width: 100%;
        height: 800px;
        overflow-y: auto;
        z-index: 1000;
    }

    .modal_header {
        display: flex;
        align-items: center;
        font-size: 24px;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .close_icon {
        cursor: pointer;
    }

    .modal_close_button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-left: auto;
    }

    .modal_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .image_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .modal_image {
        max-width: 300px;
        width: 100%;
        max-height: 350px;
    }

    .title {
        margin-top: 50px;
        font-family: "Fira Sans Extra Condensed";
        font-size: 48px;
        font-weight: 300;
    }

    .author {
        margin-top: 30px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
    }

    .description {
        margin-top: 20px;
        font-size: 18px;
        font-family: Roboto;
        font-weight: 400;
    }

    .modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Higher z-index to ensure it covers the content */
    }

    .button {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;

        max-width: 192px;
        width: 100%;
        height: 51px;
        border-radius: 140px;
        background-color: #dedede;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .button_container {
        position: absolute;
        bottom: 40px;
        width: 95%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {

    .modalContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 50px;
        padding: 20px;
        max-width: 250px;
        width: 100%;
        height: 450px;
        overflow-y: auto;
        z-index: 1000;
    }

    .modal_header {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .close_icon {
        cursor: pointer;
    }

    .modal_close_button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-left: auto;
    }

    .modal_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .image_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .modal_image {
        max-width: 100px;
        width: 100%;
        max-height: 350px;
    }

    .title {
        margin-top: 10px;
        font-family: "Fira Sans Extra Condensed";
        font-size: 24px;
        font-weight: 300;
    }

    .author {
        margin-top: 10px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
    }

    .description {
        margin-top: 20px;
        font-size: 12px;
        font-family: Roboto;
        font-weight: 400;
    }

    .modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Higher z-index to ensure it covers the content */
    }

    .button {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        max-width: 142px;
        width: 100%;
        height: 51px;
        border-radius: 140px;
        background-color: #dedede;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .button_container {
        position: absolute;
        bottom: 40px;
        width: 95%;
        display: flex;
        justify-content: center;
    }

}