.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    max-width: 1150px;
    width: 100%;
    height: 800px;
    overflow-y: auto;
    z-index: 1000;
}

.modal_header {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 0 10px;
}
.close_icon {
    cursor: pointer;
}

.modal_close_button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
}

.modal_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_image {
    max-width: 300px;
    width: 100%;
    max-height: 350px;
}

.title {
    margin-top: 50px;
    font-family: "Fira Sans Extra Condensed";
    font-size: 48px;
    font-weight: 300;
}

.author {
    margin-top: 30px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.description {
    margin-top: 20px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Higher z-index to ensure it covers the content */
}

.button {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;

    max-width: 192px;
    width: 100%;
    height: 51px;

    margin-top: 7%;
    margin-left: 40%;

    border-radius: 140px;
    background-color: #dedede;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

