.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    max-width: 1150px;
    width: 100%;
    height: 800px;
    overflow-y: auto;
    z-index: 1000;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 0 10px;
}

.modal_title {
    font-size: 18px;
}

.close_icon {
    cursor: pointer;
}

.modal_close_button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.modal_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_image {
    max-width: 382px;
    max-height: 330px;
    width: auto;
    height: auto;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Higher z-index to ensure it covers the content */
}