.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    max-width: 1150px;
    width: 100%;
    height: 850px;
    overflow-y: auto;
    z-index: 1000;
}

.modal_header {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 0 10px;
}

.modal_title {
    font-family: Fira Sans Extra Condensed;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
}

.close_icon {
    cursor: pointer;
}

.modal_close_button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Higher z-index to ensure it covers the content */
}

.order_details {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.necessarily {
    font-family: Roboto;
    font-size: 15px;
    color: #A3A3A3;;
    margin-top: 10px;
    margin-left: 40px;
}

.inputLayer {
    display: flex;
}

.firstLayer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.secondLayer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inputContainer {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.input_addContainer:nth-child(1) {
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.input_addContainer:nth-child(2) {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.input_addContainer {
    margin-top: 30px;
    margin-left: 40px;
}

.inputLabel {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
}

.inputField {
    margin-top: 5px;
    width: 445px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
}

.error {
    color: red;
    font-size: 12px;
}

.submitButton {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;

    max-width: 192px;
    width: 100%;
    height: 51px;

    margin-top: 2%;
    margin-left: 40%;

    border-radius: 140px;
    background-color: #dedede;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 50px;
}

.deliveryButton,
.pickupButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #e0e0e0;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.deliveryButton.selected,
.pickupButton.selected {
    background-color: #FFCC17;
}

.deliveryLabel,
.pickupLabel,
.addressLabel {
    font-size: 16px;
    white-space: nowrap;
    margin-left: 45px;
    margin-top: 5px;
}

.addressLabel {
    margin-top: 3px;
}