.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  gap: 28px;
}

.work img {
  width: 300px;
  height: 350px;
}

@media screen and (max-width: 450px) {
  .work {
    font-size: 14px;
  }
}