@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media screen and (min-width: 1601px) and (max-width: 2560px) {
    /*Лучи*/
    .beam {
        position: absolute;
        margin-left: 10%;
        user-select: none;
    }

    .beam1 {
        position: absolute;
        margin-left: 20%;
        top: 10%;
        user-select: none;
    }

    .beam2 {
        position: absolute;
        margin-left: 20%;
        top: 60%;
        user-select: none;
    }

    .beam3 {
        position: absolute;
        top: 8%;
        margin-left: 40%;
        user-select: none;
    }

    .beam4 {
        position: absolute;
        top: 8%;
        margin-left: 55%;
        user-select: none;
    }

    .beam5 {
        position: absolute;
        top: 9%;
        margin-left: 72%;
        user-select: none;
    }

    .beam6 {
        position: absolute;
        top: 45%;
        margin-left: 74%;
        user-select: none;
    }

    .beam7 {
        position: absolute;
        top: 67%;
        margin-left: 63%;
        user-select: none;
    }

    .mi_za {
        margin-left: 37%;
        margin-top: 13%;
        font-family: "Fira Sans Extra Condensed";
        font-weight: 300;
        font-size: 48px;
        color: black;
    }

    .child_smiles img {
        user-select: none;
        position: absolute;
        padding-left: 37%;
        height: 83px;
        max-width: 464px;
        width: 100%;
    }

    .flower {
        max-width: 177px;
        width: 100%;
        position: absolute;
        right: 0;
        user-select: none;
    }

    .studio {
        position: absolute;
        margin-top: 5.5%;
        padding-left: 39%;
        font-family: Roboto;
        font-size:  18px;
        font-weight: 400;
        text-align: center;
    }

    .home {
        width: 100%;
        max-width: 230px;
        height: 280px;
        user-select: none;
        position: absolute;
        margin-top: 10.5%;
    }

    .button {
        user-select: none;
        position: absolute;
        cursor: pointer;

        font-family: Roboto;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;

        margin-top: 10%;
        left: 40.6%;

        width: 249px;
        height: 51px;
        border-radius: 50px;
        border: 1px solid #000000;
        margin-left: 40px;
    }

    /* При наведении и нажатии*/
    .button:hover {
        background-color: #FFF06D;
    }
    .button:active {
        background-color: #FFF06D;
    }

    .lyambda {
        user-select: none;
        position: absolute;
        margin-top: 30%;
        padding-left: 35%;
        height: 100px;
        max-width: 519px;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    /*Лучи*/
    .beam {
        position: absolute;
        margin-left: 10%;
        user-select: none;
    }

    .beam1 {
        position: absolute;
        margin-left: 20%;
        top: 10%;
        user-select: none;
    }

    .beam2 {
        position: absolute;
        margin-left: 20%;
        top: 60%;
        user-select: none;
    }

    .beam3 {
        position: absolute;
        top: 8%;
        margin-left: 40%;
        user-select: none;
    }

    .beam4 {
        position: absolute;
        top: 8%;
        margin-left: 55%;
        user-select: none;
    }

    .beam5 {
        position: absolute;
        top: 9%;
        margin-left: 72%;
        user-select: none;
    }

    .beam6 {
        position: absolute;
        top: 45%;
        margin-left: 74%;
        user-select: none;
    }

    .beam7 {
        position: absolute;
        top: 67%;
        margin-left: 63%;
        user-select: none;
    }

    .mi_za {
        margin-left: 37%;
        margin-top: 15%;
        font-family: "Fira Sans Extra Condensed";
        font-weight: 300;
        font-size: 48px;
        color: black;
    }

    .child_smiles img {
        user-select: none;
        position: absolute;
        padding-left: 37%;
        height: 83px;
        max-width: 464px;
        width: 100%;
    }


    .flower {
        max-width: 130px;
        width: 100%;
        position: absolute;
        right: 0;
        user-select: none;
    }

    .studio {
        position: absolute;
        margin-top: 5.5%;
        padding-left: 39%;
        font-family: Roboto;
        font-size:  18px;
        font-weight: 400;
        text-align: center;
    }

    .home {
        max-width: 140px;
        width: 100%;
        user-select: none;
        position: absolute;
        margin-top: 10.5%;
    }

    .button {
        user-select: none;
        position: absolute;
        cursor: pointer;

        font-family: Roboto;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;

        margin-top: 10%;
        left: 40.6%;

        width: 249px;
        height: 51px;
        border-radius: 50px;
        border: 1px solid #000000;
        margin-left: 40px;
    }

    /* При наведении и нажатии*/
    .button:hover {
        background-color: #FFF06D;
    }
    .button:active {
        background-color: #FFF06D;
    }

    .lyambda {
        user-select: none;
        position: absolute;
        margin-top: 30%;
        padding-left: 32%;
        height: 100px;
        max-width: 519px;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    /*Лучи*/
    .beam {
        display: none;
    }

    .beam1 {
        display: none;
    }

    .beam2 {
        display: none;
    }

    .beam3 {
        display: none;
    }

    .beam4 {
        display: none;
    }

    .beam5 {
        display: none;
    }

    .beam6 {
        display: none;
    }

    .beam7 {
        display: none;
    }

    .mi_za {
        transform: translate(-25%, 50%);
        text-align: center;
        font-family: "Fira Sans Extra Condensed";
        font-weight: 300;
        font-size: 26px;
        color: black;
    }

    .child_smiles img {
        user-select: none;
        position: absolute;
        padding-left: 20%;
        transform: translate(-5%, 20%);
        height: 45px;
        max-width: 250px;
        width: 100%;
    }

    .flower {
        max-width: 50px;
        width: 100%;
        position: absolute;
        top: 85px;
        right: 0;
        user-select: none;
    }

    .studio {
        position: absolute;
        margin-top: 13%;
        margin-left: 17%;
        transform: translate(-5%, 25%);
        text-align: center;
        font-family: Roboto;
        font-size:  14px;
        font-weight: 300;
        text-align: center;
    }

    .home {
        max-width: 61px;
        width: 100%;
        height: 90px;
        user-select: none;
        position: absolute;
        margin-top: 35%;
    }

    .button {
        user-select: none;
        position: absolute;
        cursor: pointer;

        font-family: Roboto;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;

        margin-top: 43%;
        left: 52%;
        transform: translate(-50%, -50%);

        width: 175px;
        height: 46px;
        border-radius: 50px;
        border: 1px solid #000000;
    }

    /* При наведении и нажатии*/
    .button:hover {
        background-color: #FFF06D;
    }
    .button:active {
        background-color: #FFF06D;
    }

    .lyambda img{
        user-select: none;
        position: absolute;
        top: 45%;
        right: 50%;
        height: 50px;
        max-width: 200px;
        width: 100%;
        transform: translate(50%, 50%);
    }
}