
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');

/*Лучи*/
.beam {
    position: absolute;
    margin-left: 10%;
    user-select: none;
}

.beam1 {
    position: absolute;
    margin-left: 20%;
    top: 10%;
    user-select: none;
}

.beam2 {
    position: absolute;
    margin-left: 20%;
    top: 60%;
    user-select: none;
}

.beam3 {
    position: absolute;
    top: 8%;
    margin-left: 40%;
    user-select: none;
}

.beam4 {
    position: absolute;
    top: 8%;
    margin-left: 55%;
    user-select: none;
}

.beam5 {
    position: absolute;
    top: 9%;
    margin-left: 72%;
    user-select: none;
}

.beam6 {
    position: absolute;
    top: 45%;
    margin-left: 74%;
    user-select: none;
}

.beam7 {
    position: absolute;
    top: 67%;
    margin-left: 63%;
    user-select: none;
}

.mi_za {
    margin-left: 37%;
    margin-top: 10%;
    font-family: "Fira Sans Extra Condensed";
    font-weight: 300;
    font-size: 48px;
    color: black;
}

.child_smiles img {
    user-select: none;
    position: absolute;
    padding-left: 37%;
    height: 83px;
    max-width: 464px;
    width: 100%;
}

.flower {
    max-width: 177px;
    width: 100%;
    position: absolute;
    margin-left: 91%;
    user-select: none;
}

.studio {
    position: absolute;
    margin-top: 5.5%;
    padding-left: 39%;
    font-family: Roboto;
    font-size:  18px;
    font-weight: 400;
    text-align: center;
}

.home {
    user-select: none;
    position: absolute;
    margin-top: 10.5%;
}

.button {
    user-select: none;
    position: absolute;
    cursor: pointer;

    font-family: Roboto;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;

    margin-top: 10%;
    left: 40.6%;

    width: 249px;
    height: 51px;
    border-radius: 50px;
    border: 1px solid #000000;
    margin-left: 40px;
}

/* При наведении и нажатии*/
.button:hover {
    background-color: #FFF06D;
}
.button:active {
    background-color: #FFF06D;
}

.lyambda {
    position: absolute;
    max-width: 100%;
    padding-top: 30%;
    padding-left: 12%;
}

@media screen and (max-width: 1600px) {
    /*Лучи*/
    .beam {
        position: absolute;
        margin-left: 10%;
        user-select: none;
    }

    .beam1 {
        position: absolute;
        margin-left: 20%;
        top: 10%;
        user-select: none;
    }

    .beam2 {
        position: absolute;
        margin-left: 20%;
        top: 60%;
        user-select: none;
    }

    .beam3 {
        position: absolute;
        top: 8%;
        margin-left: 40%;
        user-select: none;
    }

    .beam4 {
        position: absolute;
        top: 8%;
        margin-left: 55%;
        user-select: none;
    }

    .beam5 {
        position: absolute;
        top: 9%;
        margin-left: 72%;
        user-select: none;
    }

    .beam6 {
        position: absolute;
        top: 45%;
        margin-left: 74%;
        user-select: none;
    }

    .beam7 {
        position: absolute;
        top: 67%;
        margin-left: 63%;
        user-select: none;
    }

    .mi_za {
        margin-left: 37%;
        margin-top: 10%;
        font-family: "Fira Sans Extra Condensed";
        font-weight: 300;
        font-size: 48px;
        color: black;
    }

    .child_smiles img {
        user-select: none;
        position: absolute;
        padding-left: 37%;
        height: 83px;
        max-width: 464px;
        width: 100%;
    }


    .flower {
        max-width: 130px;
        width: 100%;
        position: absolute;
        margin-left: 90.5%;
        user-select: none;
    }

    .studio {
        position: absolute;
        margin-top: 5.5%;
        padding-left: 39%;
        font-family: Roboto;
        font-size:  18px;
        font-weight: 400;
        text-align: center;
    }

    .home {
        user-select: none;
        position: absolute;
        margin-top: 10.5%;
    }

    .button {
        user-select: none;
        position: absolute;
        cursor: pointer;

        font-family: Roboto;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;

        margin-top: 10%;
        left: 40.6%;

        width: 249px;
        height: 51px;
        border-radius: 50px;
        border: 1px solid #000000;
        margin-left: 40px;
    }

    /* При наведении и нажатии*/
    .button:hover {
        background-color: #FFF06D;
    }
    .button:active {
        background-color: #FFF06D;
    }

    .lyambda {
        position: absolute;
        max-width: 100%;
        padding-top: 40%;
        padding-left: 0%;
    }
}
